body {
    margin: 8px 0 0 0;
}
.fullwidth {
    width: 100%;
}
.margi-page {
    margin: 0 19%;
}
.header {
    width: 100%;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}
.logo {
    float:left;
    display: inline-block;
}
.navi-menu {
    float: right;
}
.navi-menu ul li, a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    color: rgb(102, 102, 102);
    font-family: Georgia;
    
}
.slider {
    background-image: linear-gradient(rgb(23, 23, 23) , rgb(95, 95, 95));
    display: inline-block;
    width: -webkit-fill-available !important;
    margin-right: -30%;
    margin-left: -31%;
}
.slider img {
    border-radius: 10px;
    margin-top: 1%;
    box-shadow: 0px 10px grey;
    margin-left: 306px;
}
.naslov h4 {
    font-size: 32px;
    width: auto;
    text-align: center;

}
.main-cube {
    margin-top: 40px;
}
.title-cube {
    font-size: 24px;
}
.small-title {
    font-size: 9px;
    margin-top: -23px;
}
.cube-left {
    display: inline-block;
    width: 31.69%;
}
.pic1 {
    width: 100%;
}
.cube-btn {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    width: 180px;
    height: 33px;
    text-align: left;
    background-image: linear-gradient(to right, rgb(232, 232, 232) , white, rgb(232, 232, 232));
    color: rgb(50, 133, 172);
}
.text-btn {
    padding-top: 6px;
    display: inline-block;
}
.cube-center {
    margin: 0px 10px;
}
.social-conect {
    width: 100%;
    display: inline-block;
}
.social {
    width: 32.69%;
    display: inline-block;
    float: left;
}
.title-social {
    font-size: 18px;
    font: Georgia;
}
.line-dots{
    margin-top: -11px;
    border: 0.5px dashed silver ;
    width: 97.69%;
    float: left;
}
input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid silver;
    margin-top: 20px;
}
.btn-blue {
    width: 236px;
    height: 41px;
    margin-top: 15px;
    text-align: left;
    background-image: linear-gradient(to right, rgb(73, 128, 183) , rgb(75, 131, 189), rgb(73, 128, 183));
    border-radius: 7px;
    border: none;
    color: white;
    border-color: rgb(0, 74, 128);
}
.text-btn-blue {
    display: inline-block;
    margin-top: 8px;
}
.contact {
    width: 32.69%;

    margin: 0px 10px;
    float: left;
}

.news {
    float: left;
    width: 31.69%;
}
.news img {
    float: left;
    margin-right: 15px;
}
.line-dots-news {
    border: 0.5px dashed silver ;
    width: 97.69%;
    float: left;
    margin-top: 3.5px;
}
.line-fut{
    height: 20px;
    border: none;
    background-color: rgb(76, 76, 76);
    margin-bottom: 0px;
    width: 161%;
    margin-left: -289px;
}
.footer{
    background-color: rgb(51, 51, 51);
    height: 200px;
    width: 161%;
    margin-left: -289px;
}
.f-left {
    display: inline-block;
    padding-left: 291px;
}
.f-left p { 
    color: rgb(137, 137, 137);
}
.sec-nav {
    margin-left: -62px;
}
.sec-nav ul li, a {
    text-decoration: none;
    display: inline-block;
    color: rgb(137, 137, 137);   
}
.f-right {
    display: inline-block;
    float: right;
    color: rgb(137, 137, 137);
    width: 31.69%;  
}
.fullwfooter {
    width: 100%;
    margin: 0 auto;
}
.colf {
    color: rgb(137, 137, 137);  
}
.back-slider {
    background-color: black;
}