.heder {
    display: inline;
    width: auto;
    background: white;
    

}
.search {
    position: relative;;
    float: right;
    margin-right: 10px;
}
.logo {
    font-family: Georgia Regular;
    background-color: black;
    margin-top: 10px;
}
.navibar {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;  
}
.color-red a {
    color: red;
    
}
.navibar a {
    text-decoration: none;
    float: right;
    color: silver;
    
}
hr {
    display: block;
    height: 5px;
    background-color:rgb(0, 105, 14);
    border: 0 none;
    margin-top: -1px;
    }

    .nav-item a {
        color: yellow;
    }

    .nav-item.selected a {
        color: blue;
    }

    .button {
        padding: 5px;
        background: red;
        border: 1px solid black;

    }
    .button-primary {
        color: white;
    }
    .logo h1, .logo h2 {
        margin-left: 10px; 
        display: inline-block; 
        color: white;
        margin-right: -11px;
        font-weight: lighter;

    }
.navibar li {
    margin-left: 10px;
}

.slider {
    width: auto;
    margin-left: 15%;
    display: inline-block;
    margin-top: -8px;

}
.slider .leftarrov {
    float: left;
    margin-top: 140px;
}
.slider .rightarrov {
    float: right;
    margin-top: 140px;
}
.naslov {
    width: auto;
    font-family: Georgia Regular;
    font-style: italic;
    text-align: center;
    font-weight: lighter;
}
.navibar .selected {
    color: green;
}
.silver {
    background-color: silver;
    width: 50%;
    height: 3px;
    transform: skew(20deg)
}
.latestwork {
    width: 100%;
    display: block;
}
.latestwork img {
    width: 225px; 
    height: 140px;
}
.latestwork, .latestwork1, .latestwork2, .latestwork3, .latestwork4 {
    width: auto;
    margin-left: 80px;
    display: inline-block;
}
.latestwork a {
    position: absolute;
    width: 225px;
    height: 92px;
    float: left;
    display: block;
    text-align: center;
    background-color: #f8f8f8;
    box-shadow: 0px 5px 0px #d7d7d7;
    border: 1px;
    border-radius: 10px;
    padding: 5px;
}
.services {
    width: 49%;
    margin-top: 267px;
    display: inline-block;
}
.services img {
    width: 48px; 
    height: 48px;
    display: inline-block;
    float: left;
}
.services-left {
    width: 49%;
    display: inline-block;

}
.services-right {
    width: 49%;
    float: rleft;
    display: inline-block;  
}
.services p {
    padding: 3px;
}
.content {
    width: 49%;
    display: inline-block;
}
.content-left img {
    width: 228px;
    height: 225px;
    border: 44px;
    padding: 10px;
    box-shadow: 5px 5px 5px silver;
    margin-top: 145px;
    display: inline-block;
}
.content .content-left h4 {
    float: left;
    display: inline-block;
    margin-top: 181px;
}
.more {
    float: right;
    margin-top: 181px;
    text-decoration: none;
    display: inline-block;
}
.about {
    background-color: rgb(34, 34, 34);
    width: auto;
    height: auto;
    color: rgb(104, 104, 104); 
}
.about-left {
    vertical-align: top;
    width: 20%;
    margin-left: 10px;
}
.about .about-left p {
    color: rgb(104, 104, 104);
    float: left;
    display: inline-block;
    text-size: 18px;
}
.about-left img {
    width: 215px; 
    height: 90px;
    display: block;
}
.about {
    margin-top: 5px;
    text-decoration: none !important;
    position: relative;
}
.more2 a {
    text-decoration: none;
}
.about-right {
    display: inline-block
}
.about-left p {
    text-decoration: none;
    float: left;
    font-size: 18px;
}
 .link ul {
    text-decoration; none;
    display: inline-block; 
}