.heder {
    display: inline;
    width: auto;
    background: white;
    

}
.search {
    position: relative;;
    float: right;
    margin-right: 10px;
}
.logo {
    font-family: Georgia Regular;
    background-color: black;
    margin-top: 10px;
}
.navibar {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;  
}
.color-red a {
    color: red;
    
}
.navibar a {
    text-decoration: none;
    float: right;
    color: silver;
    
}
hr {
    display: block;
    height: 5px;
    background-color:rgb(0, 105, 14);
    border: 0 none;
    margin-top: -1px;
    }

    .nav-item a {
        color: yellow;
    }

    .nav-item.selected a {
        color: blue;
    }

    .button {
        padding: 5px;
        background: red;
        border: 1px solid black;

    }
    .button-primary {
        color: white;
    }
    .logo h1, .logo h2 {
        margin-left: 10px; 
        display: inline-block; 
        color: white;
        margin-right: -11px;
        font-weight: lighter;

    }
.navibar li {
    margin-left: 10px;
}

.slider {
    width: auto;
    margin-left: 15%;
    display: inline-block;
    margin-top: -8px;

}
.slider .leftarrov {
    float: left;
    margin-top: 140px;
}
.slider .rightarrov {
    float: right;
    margin-top: 140px;
}
.naslov {
    width: auto;
    font-family: Georgia Regular;
    font-style: italic;
    text-align: center;
    font-weight: lighter;
}
.navibar .selected {
    color: green;
}
.silver {
    background-color: silver;
    width: 50%;
    height: 3px;
    transform: skew(20deg)
}
.latestwork {
    width: 100%;
    display: inline-block;
}
.latestwork, .latestwork1, .latestwork2, .latestwork3, .latestwork4 {
    width: auto;
    margin-left: 80px;
    display: inline-block;
}
.latestwork a {

}